.post {
  // border: 1px solid rgb(216, 22, 22);
  margin-top: 0px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(21, 21, 21);
  border-bottom: 1px solid rgb(8, 8, 8);
}
.post-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(59, 59, 59);
  // padding-bottom: 10px;
  position: relative;
}
.user-photo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}

.options-icon {
  // border: 2px solid red;
  position: absolute;
  right: 0px;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // z-index: 1;
  padding: 7px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
  }
  div {
    border: 2px solid rgb(157, 157, 157);
    margin: 2px;
    border-radius: 30px;
  }
}
.options {
  position: absolute;
  right: 10px;
  top: 35px;
  border: 2px solid rgb(96, 96, 96);
  border-radius: 10px;
  background-color: rgb(38, 38, 38);
  z-index: 1;
  div {
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
      background-color: gray;
      cursor: pointer;
    }
  }
}
.post-description {
  padding: 15px 0px;

  a{
    color: rgb(18, 126, 188);
  }

}

.caption{
  position: relative;
  margin: 5px 0px 10px 0px;
}
.read-more{
  position: absolute;
  font-size: 12px;
  right: 15px;
  margin-top: 5px;
  a{

    color: gray !important;
  }
}

.image {
  margin: 23px 0px;
  img {
    border-radius: 10px;
    // height: 500px;
    width: 100%;
  }
}

.post-footer {
  // border: 2px solid red;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  div {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
}
.likes-footer {
  color: rgb(139, 139, 139);
  cursor: pointer;
}
.mini-footer {
  display: flex;
  justify-content: space-between;
}
.timestamp {
  // border: 2px solid red;
  color: rgb(127, 127, 127);
  font-size: 12px;
  // margin: 0px 0px 20px 10px;
}
.action {
  background: none;
  border: none;
  margin-right: 5px;
  img {
    height: 22px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
.bookmark {
  img {
    filter: invert(100%);
  }
}
.post-comments {
  transition: max-height 0.3s ease; // Add a transition for the max-height property
  max-height: 0; // Start with a max-height of 0
  overflow: hidden;
  margin-top: 10px;
  span {
    margin-left: 10px;
    color: rgb(218, 218, 218);
    // border: 2px solid red;
    display: flex;

    .reply-user {
      margin-left: 10px;
    }
  }
}
.post-comment {
  // border: 2px solid green;

  margin-top: 10px;
  display: flex;

  textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 5px 10px;
    font-size: 19px;
  }
  button {
    padding: 0px 20px;
    border-radius: 20px;
    border: none;
    height: 40px;
    background-color: rgb(38, 124, 223);
    font-weight: bold;
    &:hover {
      background-color: rgb(20, 99, 190);
      cursor: pointer;
    }
  }
}
.open {
  max-height: 100px;
}
