.post{
    border: 1px solid rgb(46, 46, 46);
    margin-top: 0px;
    padding:  20px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
}
.post-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(59, 59, 59);
    padding-bottom: 10px;

}
.user-photo{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    img{
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
}
.post-description{
    padding: 10px 0px ;
}
.image{
    margin:10px 0px ;
    img{
        border-radius: 10px;
        // height: 500px;
        width: 100%;
    }
}

.post-footer{
    // border: 2px solid red;
    display: flex;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        margin-right: 15px;
        span{
            cursor: pointer;
            
        }
    }
}

.action{
    background: none ;
    border: none;
    margin-right: 5px;
    img{
        height: 25px;
        transition: transform 0.2s ease-in-out;
        &:hover{
           transform: scale(1.2);
           cursor: pointer;
        }
    }
}
.bookmark{
    img{
        filter: invert(100%);
    }
}
.post-comments{
    transition: max-height 0.3s ease; // Add a transition for the max-height property
    max-height: 0; // Start with a max-height of 0
    overflow: hidden;
    margin-top: 10px;
    span{
        margin-left: 10px;
        color: rgb(218, 218, 218);
        // border: 2px solid red;
        display: flex;

        .reply-user{
            margin-left: 10px;
        }
    }
}
.post-comment{
    // border: 2px solid green;
    
    margin-top: 10px;
    display: flex;
    
    textarea{
        width: 100%;
        border: none;
        background: none;
        outline: none;
        padding: 5px 10px;
        font-size: 19px;
    }
    button{
        padding: 0px 20px;
        border-radius: 20px;
        border: none;
        height: 40px;
        background-color: rgb(38, 124, 223);
        font-weight: bold;
        &:hover{
            background-color: rgb(20, 99, 190);
            cursor: pointer;
        }
    }
}
.open{
    max-height: 100px;
}