main{
    border: 2px solid red;
    height: 100vh;
    display: flex;
}
.main-box{
border: 2px solid green;
// width: 100%;
}
.middle_section{
 width: 100%;
}
.left_sidebar{
  width: 500px;
}
.right_sidebar{
    width: 600px;
}