.middle-header {
  // border: 2px solid red;
  text-align: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1;
  h2 {
    // border: 2px solid green;
    border-bottom: 1px solid rgb(74, 74, 74);
    padding: 15px 0px;
  }
}

.mid-header-section {
  display: flex;
  // margin-top: -10px ;
  div {
    width: 100%;
    padding: 10px 0px;
    &:hover {
      background-color: rgb(29, 29, 29);
      cursor: pointer;
    }

    .active {
      border-bottom: 4px solid rgb(0, 200, 255);
      display: inline-block;
      padding: 0px 6px;
      border-radius: 2px;
    }
  }
}

.brandlogo-middle {
  display: none;
}

@media screen and (max-width: 500px) {
  .middle-header {
    width: 95%;
    z-index: 2;
    background-color: black;
    position: fixed;
  }
  .middle-content {
    margin: 120px 0px;
    padding: 0px 0px 80px 0px;
  }

  .mid-header-section {
    margin-top: -20px;

    div {
      &:hover {
        background: none;
      }
    }
  }

  .home {
    display: none;
  }
  .brandlogo-middle {
    display: block;
    margin: auto;
  }
}
