.connect_people {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 350px;
  h2 {
    margin-bottom: 15px;
  }
}

.follow {
  color: white;
  background-color: rgb(0, 115, 255);
  padding: 8px 15px;
  border-radius: 10px;
}
.unfollow {
  background-color: white;
  color: rgb(0, 115, 255);
  padding: 8px 15px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .connect_people {
    // border: 2px solid red;
    margin: 50px 0px;
  }
}
