/* SidebarDrawer.scss */
.sidebar-drawer {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transition: left 0.3s ease;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &.open {
    left: 0;
  }

  .drawer-content {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);

    .close-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      color: #ffffff;
    }

    .drawer-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      .input-section {
        display: flex;
        // border: 2px solid red;
        margin-top: 30px;
        width: 100%;
        input {
          flex: 1;
          border: none;
          padding: 10px;
          border: 1px solid #ddd;
          font-size: 16px;

          width: 90%;
          border-radius: 15px;
          color: black;
          outline: navajowhite;
        }
        button {
          background: none;
          border: none;
          margin-left: -30px;
          // cursor: pointer;

          img {
            height: 25px;
          }
        }
      }
    }
  }
}

.searched-user {
  overflow-y: auto;
  padding-bottom: 100px;
}

.noti-users{
  border-bottom: 2px solid rgb(52, 52, 52);
  margin: 20px 0px;
}

.noti-content {
 padding: 0px 20px;
 display: flex;
 align-items: center;
}

.unread {
  border-bottom: 3px solid rgb(5, 87, 159);
  background-color: rgb(40, 51, 62);
  border-radius: 10px;
  padding: 10px;
}

.noti_caption{
    color: gray;
}

@media screen and (max-width: 500px) {
  .sidebar-drawer {
    left: -320px;
    width: 320px;
    top: 100px;
    // border: 2px solid red;

    .drawer-content {
      // border: 2px solid red;
      padding-bottom: 100px;
    }
  }
}
