.spinner2 {
  // text-align: center;
  background: none !important;
  border: none !important;
  width: 0 !important;
  // margin: auto;

  img {
    position: absolute;
    left: 40%;
    height: 120px;
  }
}

.spinner1 {
  position: fixed;
  display: flex;
  border: none !important;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  img {
    height: 100px;
  }
}

.spinner3 {
  img {
    position: absolute;
    left: 35%;
    height: 120px;
  }
}
@media screen and (max-width: 500px) {
  .spinner2 {
    img {
      top: 120px;
      left: 25%;
    }
  }
  .spinner3 {
    img {
      left: 25%;
    }
  }
}
