.comment-main-section {
  display: flex;
  // border: 2px solid red;
}
.comment-section {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  // border: 2px solid red;
}
.comment-content {
  // border: 2px solid red;
  width: 60%;
  margin: 30px 100px;
}
.comment_box {
  align-items: end;
  margin: 10px 0px 20px 60px;
  border-bottom: 1px solid rgb(56, 56, 56);
  p {
    margin: 5px 0px;
  }
}
.middle-header-media-query {
  display: none;
}

@media screen and (max-width: 1100px) {
  .comment-content {
    width: 80%;
    margin: 30px auto;
  }
}
@media screen and (max-width: 650px) {
  .comment-content {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .comment-content {
    width: 95%;
    margin: 80px auto;
  }
  .middle-header-media-query {
    display: block;
    width: 100%;
  }
}
