.comment-main-section {
  display: flex;
  // border: 2px solid red;
}
.comment-section {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  // border: 2px solid red;
}
.comment-content {
  // border: 2px solid red;
  width: 60%;
  margin: 30px 100px;
}
.comment_box{
  align-items: end;
  margin: 10px 0px 20px 60px;
  border-bottom: 1px solid rgb(56, 56, 56);
  p{
    margin: 5px 0px ;
  }
}