.comment-main-section {
  display: flex;
  // border: 2px solid red;
}
.comment-section {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  // border: 2px solid red;
}
.comment-content {
  // border: 2px solid red;
  width: 60%;
  margin: 30px 100px;
}
