.user_details {
  display: flex;
  flex-direction: column;
}

.profile_details {
  display: flex;
  justify-content: center;
}
.profile_box {
  //  border: 2px solid yellow;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 40px;
}
.profile_photo {
  width: 50%;
  // border: 2px solid red;
}
.image-profile {
  img {
    // border: 2px solid red;
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
}
.profile_content {
  justify-content: flex-start;
  flex-direction: column;
}

.content_box {
  width: 100%;
  margin: 10px 0px;
  // border: 2px solid red;
}
.user_name {
  button {
    margin-left: 50px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: rgb(87, 87, 87);
    border: none;
  }
}
.followers_details_section {
  display: flex;
  p {
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      border-bottom: 2px solid white;
    }
  }
}

.user_descripton {
  p {
    margin: 8px 0px;
    display: flex;
  }
  a {
    color: rgb(0, 123, 255);
  }
  img {
    filter: invert(100%);
    height: 20px;
    margin-right: 10px;
  }
}
.post_details_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;

  img {
    filter: invert(100%);
    height: 20px;
    margin: 0px 3px;
  }
}

.post_detail_content {
  padding-bottom: 60px;
}

.detail_box {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.myposts-bookmark-section {
  position: relative;
}
.active_class {
  border: 2px solid rgb(5, 37, 102);
  padding: 8px;
  border-radius: 10px;
  display: flex;
}

.bookmarkcontent {
  border: 2px solid green;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  .image-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    div {
      display: flex;
      align-items: center;
    }

    .custom-file-input {
      position: relative;
      overflow: hidden;
      display: inline-block;
      background-color: rgba(0, 95, 237, 0.934);
      color: white;
      border: none;
      border-radius: 10px;
      padding: 8px 10px;
      cursor: pointer;

      input[type="file"] {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        background-color: white;
      }
    }

    /* Define a style for the button hover state */
    .custom-file-input:hover {
      background-color: rgba(2, 65, 160, 0.934);
      cursor: pointer;
    }
  }
  img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
  }
  input {
    color: black;
    margin-bottom: 10px;
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(21, 21, 21);
    border: none;
    outline: none;
    color: white;
  }
  div {
    button {
      background: none;
      margin: 10px;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      background-color: rgb(21, 21, 21);
      cursor: pointer;
      &:hover {
        background-color: rgb(34, 34, 34);
      }
      &:nth-child(1) {
        background-color: rgba(0, 95, 237, 0.934);
        color: white;
        &:hover {
          background-color: rgba(2, 65, 160, 0.934);
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .user_details {
    overflow-x: hidden;
  }
  .content_box {
    width: 117%;
  }
  .post_detail_content {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .profile_details {
    flex-direction: column;
    margin: auto;
  }
  .myposts-bookmark-section {
    min-height: 20vh;
  }
  .profile_photo {
    // border: 2px solid red;
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .profile_details {
    margin: auto;
    //  border: 2px solid red;
    width: 90%;
  }
  .content_box {
    width: 100%;
  }
}
