#login_page {
  width: 1000px;
  margin: auto;
  display: flex;
}
.login_box {
  // border: 2px solid rgb(72, 255, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brandImage {
  padding-right: 30px;
  img {
    height: 600px;
    width: 600px;
    border-radius: 30px;
  }
}
.form_area {
  display: flex;
  flex-direction: column;
}
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 450px;
  // width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(99, 99, 99);
  padding: 40px 70px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 50px 0px 0px 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    input {
      color: black;
      margin: 10px 0px;
      padding: 10px;
      width: 300px;
      border-radius: 10px;
      background-color: rgb(234, 234, 234);

      &[type="submit"] {
        background-color: rgb(49, 155, 255);
        color: white;
        margin-top: 20px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
  span {
    background-color: black;
    margin-top: -22px;
    padding: 10px;
  }
  p {
    margin-top: 30px;
  }
}
.signup_link {
  flex-direction: row;
  padding: 25px 123px;
  margin-top: 10px;
  span {
    margin: 0 4px;
    padding: 0;
  }
  a {
    span {
      color: rgb(49, 155, 255);
    }
  }
}
