main {
  height: 100vh;
  display: flex;
}

.left_sidebar {
  width: 300px;
  border-right: 1px solid rgb(63, 63, 63);
}

.middle-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post_section {
  width: 700px;
}
.right_sidebar {
  width: 400px;
  border-left: 1px solid rgb(63, 63, 63);
}
