@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Libre+Baskerville:ital@1&family=Mukta:wght@600&family=Playfair:wght@800&family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap);

* {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: white;
}
body {
  background-color: black;
  color: white;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.infinity {
  font-family: cursive;
}
.brandLogo {
  height: 80px;
  // border: 2px solid red;
  // position: fixed;
  filter: invert(100%);
  //  position: absolute;
  // margin-top: 10px;
}

.custom-toaster {
  /* Add your custom styles here */
  background-color: #333; /* Change the background color */
  color: #fff; /* Change the text color */
  border-radius: 5px; /* Add some rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
  max-width: 300px; /* Adjust the maximum width */
  /* Add more styles as needed */
}

.custom-toaster > .toast {
  /* Customize individual toast styles, e.g., spacing between toasts */
  margin-bottom: 10px;
}

.custom-toaster .toast-progress {
  /* Customize the toast progress bar (if needed) */
  background-color: #ff4500; /* Change the progress bar color */
}

::-webkit-scrollbar {
  width: 8px;
}
.popup-content::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(86, 86, 86);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(1, 88, 195);
  border-radius: 20px;
  &:hover {
    background-color: rgb(2, 73, 160);
  }
}

@media screen and (max-width: 650px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
