@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Libre+Baskerville:ital@1&family=Mukta:wght@600&family=Playfair:wght@800&family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap);

* {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: white;
}
body {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
}
